{{ 'landing-team.css' | asset_url | stylesheet_tag }}

<div class='team__container containerMaxWidth'>
  <div class='containerWrapper'>
    <div class='team__wrapper'>
      <div class='team__text'>
        <div class=team__title>The «Doughnuts» team</div>

        <p>
          We use the freshest products, free shipping and the best service!
          We want every customer to be satisfied and contact us again. After
                            all, we work every day to make your meal delicious!
        </p>
        <p>
          The «Doughnuts» team has been on the market for about one year.
          During this time, each of us has improved our culinary skills,
                      found friends and even fell in love.
        </p>
        <p>
          Teamwork makes everyone more open and tolerant, teaches how to
          interact with other people, establish connections and collaborate
                            effectively. Our team is attentive to everyone.
        </p>
        <p>
          A person in a team learns to show empathy, develops emotional
          intelligence, learns to listen, respect, and understand others.
        </p>
        <a
          target='_blank'
          href='https://www.instagram.com/'
          class=team__button
          rel='noreferrer'>
          find out more
        </a>
      </div>
      <img
        class='team__photos__pc'
        src={{'landing-team-team_photos.png' | asset_url}}
        alt='team-photos'
        width='auto'
        height='auto' />
      <img
        class='team__photos__mobile'
        src={{'landing-team-team_photos_Mobile.png' | asset_url}}
        width='auto'
        height='auto'
        alt='team-photos' />
    </div>
  </div>

  <img
    src={{'landing-team-team-bg-top.svg' |asset_url}}
    class='team__bg_top'
    width='auto'
    height='auto'
    alt='' />
  <img
    src={{'landing-team-team-bg-bottom.svg' | asset_url}}
    class='team__bg_bottom'
    width='auto'
    height='auto'
    alt='' />
</div>